* {
  margin: 0;
  box-sizing: border-box;
  padding: 5px 8px;
}

body {
  background-color: white;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.common-font-family {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-style: normal;
}
main {
  background-image: url("../images/myportfoliobgi.png");
  height: 100vh;
  width: 375px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-repeat: no-repeat;
  flex-direction: column;
}

.header-content {
  max-width: 375px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#mylogo,
#hamburgur-icon {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}
header span a {
  text-decoration: none;
}

.social-md li {
  list-style: none;
  padding: 0;
}

.myfullname {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.37px;
  color: #091e42;
}

.social-md {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0;
  margin: 0;
}

.social-md a {
  color: #505f79;
}

.social-md img {
  height: 20px;
  width: 20px;
  padding: 0px;
  margin: 0;
}

.btn-letcon {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  background-color: transparent;
  margin-bottom: 10px;
  border: none;
}

#btn-letconid:hover {
  background-color: #7f8cff;
  color: #fff;
}
